body {
    background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    
}
.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.banner{
   width: 100%;
    height: 200px;
}
.carousel-inner img {
    width: 100%;
    max-height: 500px;
}

.carousel-inner{
 height: 500px;
}

.btn-primary{
    background-color: black;
    color: white;
    border-color: black;
}
.btn-primary:hover{
    background-color: gray;
    border-color: gray;
}
.bg-na{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.nav-item:hover{
    background-color: grey;
    
}
footer{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 245, 245);
    box-shadow: grey 0 0 10px;

}
